.section1 {
    max-width: 70%;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    display: flex;
    background: $color3;
    display: block;
    margin: 0 auto;

    h4 {
        font-style: italic;
        font-weight: 500;
        text-align: center;
        padding: 50px 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            height: 0.5px;
            background: $color1;
            width: 20%;
            bottom: 50%;
            transform: translateX(45%);
        }
        &::after {
            content: "";
            position: absolute;
            height: 0.5px;
            background: $color1;
            width: 20%;
            bottom: 50%;
            transform: translateX(-145%);
        }
    }
    h2 {
        font-size: 4rem;
        text-transform: uppercase;
        text-align: center;
        width: 50%;
        margin: 0 auto;
    }
    p {
        width: 40%;
        margin: 0 auto;
        padding: 30px 0;
        line-height: 30px;
        text-align: center;
    }
    img {
        width: 70%;
        margin: 0 auto;
        @include center;
    }
    button {
        margin-top: 20px;
    }
}
