@font-face {
    font-family: "font1";
    src: url(../fonts/font.txt);
}

$font1: "font1", sans-serif;
$color1: rgb(130, 129, 130);
$color2: rgb(234, 232, 234);
$color3: #fff;
$color4: #000;

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    list-style: none;
}
body {
    background: url(../img/bg.jpg) bottom/cover fixed;
}
.button {
    padding: 10px;
    border: 1.5px solid $color4;
    text-transform: uppercase;
    display: flex;
    margin: 0 auto;
    margin: 0 auto;
    font-weight: 800;
    font-family: $font1;
    letter-spacing: 1px;
    background: $color3;
}
