@font-face {
  font-family: "font1";
  src: url(../fonts/font.txt);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style: none;
}

body {
  background: url(../img/bg.jpg) bottom/cover fixed;
}

.button {
  padding: 10px;
  border: 1.5px solid #000;
  text-transform: uppercase;
  display: flex;
  margin: 0 auto;
  margin: 0 auto;
  font-weight: 800;
  font-family: "font1", sans-serif;
  letter-spacing: 1px;
  background: #fff;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
}
.main-header h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-family: "font1", sans-serif;
  margin: 100px 0;
}
.main-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  color: #fff;
  padding-bottom: 30px;
}
.main-header i {
  font-size: 3rem;
  color: #fff;
  align-items: center;
  font-weight: 100;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  max-width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  background: rgba(255, 255, 255, 0.164);
}
nav .ul-left {
  display: flex;
  transition: 0.2s;
}
nav .ul-left ul {
  display: flex;
  color: #fff;
}
nav .ul-left ul :nth-child(1):hover {
  background: #fff;
  cursor: pointer;
  color: #000;
}
nav .ul-left ul :nth-child(2):hover {
  background: #fff;
  cursor: pointer;
  color: #000;
}
nav .ul-left ul :nth-child(3):hover {
  background: #fff;
  cursor: pointer;
  color: #000;
}
nav .ul-left ul li {
  padding: 15px;
  transition: 0.2s;
  font-family: "font1", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  font-weight: 800;
}
nav .ul-right {
  display: flex;
  width: 15%;
}
nav .ul-right ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
nav .ul-right i {
  display: flex;
  color: rgb(234, 232, 234);
  text-decoration: none;
}
nav .ul-right i:hover {
  color: #000;
}

.section1 {
  max-width: 70%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  display: flex;
  background: #fff;
  display: block;
  margin: 0 auto;
}
.section1 h4 {
  font-style: italic;
  font-weight: 500;
  text-align: center;
  padding: 50px 0;
  position: relative;
}
.section1 h4::before {
  content: "";
  position: absolute;
  height: 0.5px;
  background: rgb(130, 129, 130);
  width: 20%;
  bottom: 50%;
  transform: translateX(45%);
}
.section1 h4::after {
  content: "";
  position: absolute;
  height: 0.5px;
  background: rgb(130, 129, 130);
  width: 20%;
  bottom: 50%;
  transform: translateX(-145%);
}
.section1 h2 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.section1 p {
  width: 40%;
  margin: 0 auto;
  padding: 30px 0;
  line-height: 30px;
  text-align: center;
}
.section1 img {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 button {
  margin-top: 20px;
}

.section2 {
  padding-top: 25px;
  background: #fff;
  width: 70%;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.section2::before {
  content: "";
  height: 1px;
  background: rgb(130, 129, 130);
  width: 100%;
  position: absolute;
}
.section2 img {
  height: 50px;
}
.section2 .l-container {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 200px;
}
.section2 .l-container .l-element {
  display: block;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.section2 .l-container .l-element h4 {
  font-style: italic;
  font-weight: 400;
}
.section2 .l-container .l-element h3 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px 0;
}
.section2 .l-container .l-element img {
  height: 80%;
  max-width: 80%;
}
.section2 .l-container .l-element p {
  padding: 50px 0;
  line-height: 30px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}
.section2 .r-container {
  display: flex;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 200px;
  position: relative;
}
.section2 .r-container:after {
  content: "";
  height: 1px;
  background: rgb(130, 129, 130);
  width: 100%;
  position: absolute;
  transform: rotate(90deg);
  left: -50%;
  bottom: 50%;
  overflow: hidden;
}
.section2 .r-container .r-element {
  display: block;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}
.section2 .r-container .r-element h4 {
  font-style: italic;
  font-weight: 400;
}
.section2 .r-container .r-element h3 {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 20px 0;
}
.section2 .r-container .r-element img {
  height: 80%;
  max-width: 80%;
}
.section2 .r-container .r-element p {
  padding: 50px 0;
  line-height: 30px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

footer {
  height: 700px;
  width: 70%;
  background: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 50px auto;
  padding: 50px 0;
}
footer .form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "n" "e" "m";
  width: 100%;
}
footer .form #name {
  grid-area: n;
}
footer .form #email {
  grid-area: e;
}
footer .form #message {
  grid-area: m;
}
footer .contact-container {
  height: 100%;
}
footer .contact-container .box-contact {
  padding-left: 20px;
  padding: 50px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  margin-left: 100px;
  text-align: center;
}
footer .contact-container .box-contact h5 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: right;
  align-items: center;
  display: flex;
}
footer .contact-container .box-contact p {
  text-align: left;
  margin-left: 100px;
}
footer .contact-container .box-contact ul {
  text-align: left;
  margin-left: 100px;
  display: flex;
  align-items: center;
}
footer .contact-container .box-contact ul li {
  padding-right: 15px;
}
footer .contact-container .box-contact ul li a {
  color: black;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}/*# sourceMappingURL=index.css.map */